<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="data">
            <directory>tests/data</directory>
        </testsuite>
        <testsuite name="pdo">
            <directory>tests/pdo</directory>
        </testsuite>
    </testsuites>
</phpunit>
