/*
general
*/

* {
  margin: 0;
  padding: 0;
}

body {
  width: 96%;
  background-color: #ededed;
}

h1 {
  border-bottom: 1px solid black;
  color: #093156;
}

.clearfix {
  clear: both;
}

/*
header
*/
header {
  width: 100%;
  margin: 1% 2%;
  font-weight: 400;
}

/* navigation */
.navbar {
  position: fixed;
  width: 96%;
}

nav ul {
  list-style-type: none;
  width: 100%;
  background-color: rgb(87,222,135);
}

nav ul li {
  display: inline-block;
  padding-right: 10px;
  font-size: 30px;
  color: #343740;
  vertical-align: middle;
}

#logo {
  width: 50px;
}
/* end navigation */

figure img {
  width: 100%;
}

/*
general article
*/
article {
  margin: 0 2%;
  width: 100%;
}

article section {
  float: left;
  width: 23.5%;
  height: auto;
  padding: 0 1%;
}

article section h2 {
  font-size: 20px;
}

article section p {
  font-size: small;
}

article section img {
  width: 100%;
}

article section:nth-of-type(4n+1) {
  padding-left: 0;
}

article section:nth-of-type(4n+4) {
  padding-right: 0;
}

article section:hover {
  opacity: 0.7;
}

article section aside p:nth-child(1) {
  float: left;
}

article section aside p:nth-child(2) {
  float: right;
}

/*
button in between articles
*/
div.more-button-container {
  clear: both;
  text-align: center;
}

div.more-button-container button {
  margin-top: 2%;
  width: 150px;
}

/*
action article
*/
.action section {
  margin-top: 35px;
  margin-bottom: 5px;
}

.action section p {
  background-color: #093156;
  color: white;
}

/*
footer
*/
footer {
  height: 200px;
  width: 100%;
  display: inline-block;
  margin: 1% 2%;
}

footer p {
  color: white;
  background-color: black;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
